<template>
  <section id="nl">
    <div class="container ombre">
      <div
        id="nl-header"
        :class="$t(`newsletter.posts.${post}.img`) !== '' ? 'sr-only' : ''"
      >
        <div class="logo">
          <img
            alt=""
            :src="[
              'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADim',
              'Hc4AAAN0UlEQVR4nO1dfWgU1xb/hU3dpgZ8XZ7ubrbJCypVNFJaClYQVim8xjyIkD+6s',
              '9lgEWa2bYI+3s5aP0pgSSmGSkF0bj5qkIoIlSpIFSvUGKjQ0mcp+csg6e7GoK+tQqgBh',
              'Sh43h9n1my22d2Z2Zl8rPnBQYLJnbnn3Hvu+bjnDMBYCeAOgFsAjgB4G0AVEVUQUQWW4',
              'DiqAVwB8BQA6fQQwEUA7wNYC8AFwLUkEGexGcz0KcwUBmF6dwTBAnODhbIEB7AZwHeYX',
              'RAEYALAGQAtAPwAqrAkDEewA8APYHWUK4QMTYF3TQRAPXh3LAnDRrjA58AtMLPzCSIjj',
              'AsAQgDqwMJ4rqGfmS6wyq4C82SF/rMpeAAcBXAfs6ulXLoPQADY+hKrqfnaFS7wpD0Av',
              'C8Bfv19VoIZUWXD+FX6WCvBY9cBWA1gA/jMDIEX8UHwOXoGQLPVB24Fnw+F1FIufQ9WU',
              'WthQfIWUAUgAOB18OQPgyf9nf4uQ+CdKgDs1ee0GszEQqgGM7kOzNzN+vj79LEuArgBN',
              'umLLdIzpU7wIIDbRR6SS7f0CW+AM4LwgJlyEHx2EQByu93k8XjI6/WSx+Mhl8uV790OA',
              '9gCZjLADK8DC7IZQCeAswCGYW4BTgH4HcBNsLnfCRZ4ycjshmJnw2yTzfgXdmAF2Hk8C',
              'Z0xHo+HGhoaqLGxkVRVJSEEnTp1ioQQJMsyeb3efO/2FMAJsAHSCd4tZpidbSneAu84A',
              'd4pAZvmOwNe8NkwYeElh8Arq9jWzwcXgDf15z8EQLW1tdTS0kJCCEqlUpQPTU1N+XZCK',
              'fQ7WAWdBfAf/d3mBC4AMoCkhZd+At7660w+sxrAe+BtTR6PhyRJokuXLuVlOhHRH3/8Q',
              'QMDA4V2gJWV/gN417wHVlnzhh3gFWBlIt+BLYai0K2Yw9BXfUNDAw0MDNDU1FRexo+Oj',
              'tL58+cpEonYwfQnANLglf4+2P9ZMHgTzEwrE0uCvetCqAfrenK5XNTU1EQ//fRT3tU+O',
              'DhI3d3d1NjYaKfKmQCrmAWLDWCTzIi/kEv3wSbrbKgDrzpyuVwkSdKsej6VStHAwAC1t',
              'bVRbW2t3XqeADwA78AF7WiuA5tcViZ4H2w1ZGMl2HYml8tFLS0tND4+Pqt+b2pqIrfb7',
              'QTjs2kKLIQFHXbZADbDrEwwjekzoQrsQRIACgaDNDo6OoP5g4ODJEkSLV++3GnG5+6ED',
              'ntZZj82Q7dULNANsMMSgu5r1NbW0uDg4DPGT05OUnd3N61du3YuGZ+7UHbYzTS70QxWK',
              '2Yn9xR8oN8EQMuXL6fu7u5nzB8fHydZlud61c9GV3TLzBkc23PZnUgMVZY4TCeseZTPK',
              'BgM0uTkJBERjYyMUGNj43wzPkMPweEPe5BIDFXGw9q7MUkcV0PiG1USV2OS+DYW0s7FJ',
              'dG1L9wTtDBsFf6a9jRMHo+Hvvrqq2fMDwaD8830XBqCHaGGeEjbqUriqippd2MhjWahR',
              '6qk/apK2pf72vrfMDn8m7CmiigYDD5TOwto5WfTHfzVcjOHmCQ6CzD+L6RK4pd4SNtp8',
              'jFHYDJ4l1n9U1NTtGvXLieZOAWO8CbBFo7Zv+00yYtpxMM9B2Mh7ZFR5k8LQfvVpBBWw',
              'mQYu6GhgSYnJ0kI4QTTk+BFsQMcdt4A9mFeAxsPZwyO8xRAlwk+TOOjVrHdCvOnSVzbH',
              '+nfZOKRXTC4C9xuN3V0dNDo6Ch5PB47GJ45g34H2/DrUDgauxIcdhf63+QbdwJWfQJVE',
              'r9YZ75OkjCz/TwweBZ4PB46deqUXaonw/yL4BVeNCl0r31jJtywAhyH2gpg75q/VV741',
              '+oX6fVVL9Drq16gDZ4XrsNKfkNf/aUxn8+D6yZ3wQlwVLEg07xeL50/f95OlXMSBkPGR',
              'FQx/kFtQ0r2H6LExmVZ/+Ue+OfLDTci3ms/t62in9tW0Y2I99rtD+teNjF/RkwSx+0QQ',
              'CykPYqHtXdNPHoLDPgFXq+XOjo67GL+BZgMHVNi47KUUtOcUvwjY4qvnRLbnvlDY4qvP',
              'Sn7KCn7KC37fhuL1shmxgYAqJK4bpMAKC5pe00+/haK+AVut9uu5EkSfMiaRkYIScX3Z',
              '1r2/ZZU/H0ppaZ5LFojZwSQlH2UVHyD49HaNaYGVyXtV/sEILrI3N3RIzCghmyiCEqIX',
              'FJiW2UyWrM1qfhv68x+nFR8j3ME8Dgl+w+ZGthOAZg8iAGOdppN6FtVPbakCsejtWuSi',
              'u/SDMaXsgtiIXFtHlUQYN7hsULFsmymcPvDupeTiv9oHgH8aeosUKWeT22ygiYseMUAR',
              'zstxYcM0hDMJ/yL4l77xuqU7D80uxD8fYYH2h/p32ST+vk2FvriVQtz6YSzAtgHh27jU',
              'WLjsrTi//dsaigdrVlveCA90jkf6gfgEIBTB/FD8IUtx0CJbZW5QkjJ/rGUUmP87mcs9',
              'MWrMUl7UIIAzn28q9dqKNYP5wQwBI7tOIp0ov7FGepI8T0eU3ztpgZRQ6IlZikeJH6Mh',
              '/u2lDgHSyFqA3QU1m/dmULuwZxS/J+YHoRzAdpdNaQ9KXrohrQnsZC4ZiEnMBuG4IwA5',
              'jRhPsNEVfx96UT9i6YHOSD11sck7YwqaXdjkvYgIwz930eqJCZUSRuJS6LrQGuP+djH7',
              'BBwRgC2mp9GMBYNbE/Lvt9Siv/r/0Vr/m55oANSb31c0vaqktYfC2nnYiHtXDysfa62i',
              'oiNjM+gA/Yz/w4cPoDzIaX44inZf/qOHHhlPp5vBW/DfgEMYw5vJ2fjjhx4JRmt2VrSD',
              'phL6Fc6FqUFVE6wOyRxEfYVgDwXsHqtPR+dwzzf1V9sOAl7BXAWDpUElSv2wn4BPB87g',
              'Igq9kf6N6kh0RIP9+yOh3t2x0PaTjXcbzwgxbmBJRVkFmq4f31cEl2qJK6rkpjI8pbvq',
              'ZK4Gg/3HDQYJ/LA3qho+R/C8XDfFiMJHTUkvjEYqr4F+wQwhHI2Q/dH+jeZSuhL4ttD4',
              'RPeIsPaeRDfwDw5Yo4j0S6q42Htcys5g2N7LhdKjrwH+wSQhsGqy0WHeLhvi6VkviTSR',
              'XZBPewTwEMsgsoVS4iHe3ZbzpyF+7YUuLrigrVi73yUr9py8YKLN3oOWhWA2ioiBaptX',
              'OAri3YJYJ/Je0oLH8f2XHbHJNFpfQf07M4nAJ1ZO2CfAATYvC0vqFJP1KoAPmoV24usS',
              'g9KrCXLoisoR19Abe19J8fpMngIaw8OSL31RYZ3g2+y2WUJlZqvXng4FD7hjUnitHn1o',
              '32eaBfFyvtd4Foru9TQnKcl5wRqa+87MUmkzZigJi5ueWBffqATpfeFW5hQW0UkFtLuF',
              'bV8JO3uvnBP0IRF4oZ91pBtF3MXJNgpE1cLCOCcGu5fb8Yc1H93M+wRwB19rPIEEVUc2',
              '3PZva+t/42YJOIxSRyPSeJ4XNL2quH+9UVCD4WwAvZlycrPIcsFEVUkEkOVGaLSO6+7Y',
              'F9s6ASmOyEuwQQybfXtMEdfm+N3Lwu4wa3BbFFDZReWmCMEULhA2iidg5MtZXJARBWU2',
              'FZJiW2Vi13wVbBnF0xhjqyh2x/WvZxSappTUd9nKcX/yVg0sD2r4HtRIgB7wtRdcLjRX',
              'loOvJVS/P/NrZpJKf6vTZewOoFEYqgy0S6qE+2i2oSJ6oY9FlEaDuaJxz+obUgp/u/zV',
              'lDKvpPzdl80kRiq/HhXb0BtFZGYJI6rktYfk0R8f6R/k4H4EMAtkq32I82mDjhUM5ZdO',
              'Z+PxqKB7U48uyjiIW1n3tiRJDoNCiGI0uuKb8KmzuXZuNe+sTpv6eoMAdTIc34oGwlfG',
              '6yyrwb36lxwu2DBCiCRGKqMhcSPhtKVxm7S1aP0EEUaDiRqiqogxfd4zlUQr35jbdBUq',
              'edTg8PuQOnh6i7YvAvGP6htSCq+wUKH8Fj0H3PmiwB4lr4sGrLORE4NDpv5gkcpAngIB',
              'y5ujUUD21OK//uk4vszu31BUvFdMlW8bReM5gz0vMGXJob2wng/t3x0AQ6Usd6RA6+kF',
              'F88KftOJhV/31i0RrbUzMkOqOH+9UYvccXDPbtNDr8BWd+KsUjmmywtNuiVlsVW/4jF6',
              'ssgrPemJnCcqbwjpQek3voYl7rmZb7a2vtOCY9ohvkvOmXTFZTj/SEAmfQiYqEvXuXWO',
              'OJH3Sq6p0raSEwSp0tkPsDJmwhKyx0cLvEduF1BtGbrgitRzXY89rX1v8GVNNq7H7WK7',
              'QY9YCPIZNCsCuEJ+HswpkFEFWk58FZK9p9OKf5hnb4eiwaKXUIrO2R2QhrWhHAfFj4xq',
              'AfhZouADqflwFs2zGvxQF9xzbB+MCfBzVmNPW+WfkE5Qvgku9Xl84QgrJuowzB4pbFg/',
              '7j5DkEvAKyDdWdtGAYqbCixcVne3nGyj1JR32c5XXefO6wEpzStfGrxJgzcLZ3RTzSLu',
              'G2NidZlZYwqcEcWK190SqPIR9sosa1Sb288nKX7R9JKjfS8r/5c+MFdFM1GUifAxR55L',
              '/lSYlvleLR2TcYPGI/Wrlli/uyoAocezJbEToFrjw1bSEsojBXgQ9ZsMchtsNdcnlfe5',
              'xK6z7ACvKrPwtxuGAZ73ksoFbogqsHh7SMw3kbzITg9WlJn9iXMRBU4MtoCvs5Y7BbGU',
              '/13boHTnOVXFDhPcIFzxhlhnETxkPcTTO+KLjhw/eV5hQvTAlkN1v0nwOdAoR2y1LXLC',
              'WSKT/Szww1WO81gh+0oWHUNgQVV8Gz4P/DaYKp/kt8kAAAAAElFTkSuQmCC',
            ].join('')"
          />
        </div>
        <div class="title">
          <h1 v-html="$t('color.soft')"></h1>
          <h2 v-html="$t(`newsletter.posts.${post}.title`)"></h2>
        </div>
        <hr class="trait" />
      </div>

      <div class="article">
        <h1 v-if="$t(`newsletter.posts.${post}.img`) !== ''">
          <img
            :alt="$t(`newsletter.posts.${post}.title`)"
            :src="`${$t('baseurl')}${$t(`newsletter.posts.${post}.img`)
              .replace(/^uploads/, 'wiki')}`"
          />
        </h1>
        <div v-html="newsletter"></div>
      </div>
    </div>

    <div id="nl-footer">
      <div class="container">
        <p>
          Archives des
          <a href="https://contact.framasoft.org/newsletter">précedentes
            lettres d’informations
          </a>.
          <a :href="`https://contact.framasoft.org/newsletter/?nl=${$t(`newsletter.posts.${post}.id`)}`">Voir cette
            lettre d’information en ligne
          </a>.
        </p>
        <ul>
          <li>
            Vous voulez recevoir cette lettre d’information&nbsp;?
            <a href="https://contact.framasoft.org/newsletter">Abonnez-vous</a>.
          </li>
        </ul>
        <p>
          <a href="https://framasoft.org">Framasoft</a> est une association sans
          but lucratif, reconnue d’intérêt général, dont l’objet est l’éducation
          populaire aux enjeux du numérique et des communs culturels.
        </p>

        <p style="text-align: right; margin: 0;">
          <a
            href="https://soutenir.framasoft.org"
            class="btn-soutenir"
            style="padding: .25rem .5rem; float: left; margin-top: 8px;"
          >
            🤍 Nous soutenir
          </a>
          <a
            href="https://framapiaf.org/@Framasoft"
            style="margin: .25rem; width: 36px; height: 36px; display:inline-block;
              border: 2px solid #677890; border-radius: 50%;"
          >
            <img
              alt="Mastodon"
              style="margin: 6px; width: 24px"
              src="https://contact.framasoft.org/img/nl/mastodon.png"
            />
          </a>
          <a
            href=" https://framatube.org/a/framasoft/video-channels"
            style="margin: .25rem; width: 36px; height: 36px; display:inline-block;
              border: 2px solid #677890; border-radius: 50%;"
          >
            <img
              alt="PeerTube"
              style="margin: 6px 4px 6px 8px; width: 24px;"
              src="https://contact.framasoft.org/img/nl/peertube.png"
            />
          </a>
          <a
            href="https://twitter.com/framasoft"
            style="margin: .25rem; width: 36px; height: 36px; display:inline-block;
              border: 2px solid #677890; border-radius: 50%;"
          >
            <img
              alt="Twitter"
              style="margin: 6px; width: 24px;"
              src="https://contact.framasoft.org/img/nl/twitter.png"
            />
          </a>
          <a
            href="https://www.facebook.com/framasoft"
            style="margin: .25rem; width: 36px; height: 36px; display:inline-block;
              border: 2px solid #677890; border-radius: 50%;"
          >
            <img
              alt="Facebook"
              style="margin: 6px; width: 24px;"
              src="https://contact.framasoft.org/img/nl/facebook-f.png"
            />
          </a>
        </p>
        <p style="clear: both; text-align: center">
          <a
            href="https://framasoft.org"
            style="font-size: 1.375rem; border: none; color: #4a5568; margin-top: 1rem;"
          >framasoft.org</a>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    post: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      style: `
<style>
  /* Generic */
  #nl {
    background: #e2e8f0;
    color: #1f1f1f;
    font-family: Roboto, sans-serif;
    margin: 0;
  }

  #nl h1,
  #nl h2,
  #nl h3 {
    color: #4a5568;
    margin-bottom: .5em;
  }

  #nl h1 {
    font-size: 150%;
    margin-top: 1.8em;
  }

  #nl h2 {
    font-size: 125%;
    margin-top: 1.4em;
  }

  #nl h3 {
    font-size: 105%;
    margin-top: 1.1em;
  }

  #nl p,
  #nl ul {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1em;
  }

  #nl blockquote {
    background: #f7fafc;
    border-left: 6px solid #fc8e3a;
    padding: 1.25rem 1.5rem;
  }

  #nl code {
    background: #fcf7f7;
    color: #c42719;
    white-space: pre;
  }

  #nl hr {
    background-color: #edf2f7;
    border: medium none;
    clear: both;
    height: 11px;
    margin: 15px 0;
  }

  #nl a {
    border-bottom: 2px solid #a0aec0;
    color: #1f1f1f;
    text-decoration: none;
  }

  #nl a:hover,
  #nl a:focus {
    border-color: #fc8e3a;
    color: #1a202c;
  }

  #nl em > strong > img {
    width: 95%;
  }

  #nl em > img {
    border: .5rem solid #edf2f7;
    display: block;
    margin: .5rem auto 1.5rem;
    max-width: 480px;
  }

  #nl .violet { color: #725794; }
  #nl .orange { color: #cc4e13; }

  #nl .btn-soutenir {
    background: #cc4e13;
    border-color: #cc4e13;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  #nl .btn-soutenir:hover {
    background: #a94110;
    border-color: #a94110;
    color: #fff;
  }

  /* Layout */
  #nl .container {
    margin: 10px auto 20px;
    max-width: 970px;
    padding: 20px 30px;
  }

  #nl .ombre {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
  }

  #nl .article {
    margin: 0 auto 30px;
    max-width: 800px;
  }

  #nl .article h1 > img,
  #nl .article em > strong > img {
    width: 100%;
  }

  @media (min-width: 768px) {
    #nl .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    #nl .container {
      width: 970px;
    }
  }

  @media (max-width: 768px) {
    #nl .container {
      margin: 0 auto;
    }
  }

  /* Header (old nl) */
  #nl-header {
    color: #4a5568;
    font-weight: bold;
  }

  #nl-header .logo {
    margin-right: 20px;
    margin-top: 5px;
    max-width: 96px;
  }

  #nl-header img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  #nl-header .logo,
  #nl-header .title {
    float: left;
    margin-bottom: 15px;
  }

  #nl-header .title {
    width: 88%;
    width: calc(100% - 116px);
  }

  #nl-header .title > * {
    margin: 0 0 10px 0;
  }

  #nl-header h1 {
    font-size:48px;
  }

  /* Table of Content */
  #nl #toc {
    background: #fff9f0;
    margin: 2em 0;
    padding: 10px 20px 10px 0;
    width: 66%;
  }

  #nl #toc > ul {
    list-style: none;
  }

  #nl #toc > ul > li {
    margin-bottom: .5em;
  }

  #nl #toc > ul ul {
    list-style-type: disc;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    #nl #toc {
      width: auto;
    }
  }

  #nl #toc h2 {
    color: #1f1f1f;
    font-size: 16px;
    margin: .5em 0 .5em;
    text-align: center;
  }

  #nl #toc a {
    border: none;
  }

  #nl #toc a:hover {
    text-decoration: underline;
  }

  /* Footer */
  #nl-footer img {
    box-sizing: content-box;
  }
</style>`,
    };
  },

  computed: {
    newsletter() {
      const html = this.$t(`newsletter.posts.${this.post}.text`)
        .replace('<h1', `<div id="toc"><h2>${this.$t('newsletter.toc')}</h2>${this.toc}</div><h1`);
      return html;
    },

    toc() {
      const html = document.createElement('div');
      html.innerHTML = this.$t(`newsletter.posts.${this.post}.text`);
      const headings = html.getElementsByTagName('*');
      let toc = '<ul>';
      let level = 0;

      for (let i = 0; i < headings.length; i += 1) {
        if (headings[i].tagName === 'H1') {
          if (level === 1) {
            toc += '</li>';
          } else if (level === 2) {
            toc += '</ul>';
          }
          if (headings[i].children.length > 0
            && headings[i].children[0].tagName === 'IMG') {
            toc += `<li><a href="#${headings[i].id}">${headings[i].children[0].getAttribute('alt')}</a>`;
          } else {
            toc += `<li><a href="#${headings[i].id}">${headings[i].textContent}</a>`;
          }
          level = 1;
        }
        if (headings[i].tagName === 'H2') {
          if (level === 1) {
            toc += '<ul>';
          }
          toc += `<li><a href="#${headings[i].id}">${headings[i].textContent}</a></li>`;
          level = 2;
        }
      }
      toc += '</ul>';
      return toc;
    },
  },

  mounted() {
    this.$parent.style = this.style
      .replace(/[\n\r\t]/g, '')
      .replace(/  +/g, '');
  },
};
</script>
