@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

/* Frameworks */
@import 'frameworks/bootstrap4';
@import 'frameworks/iconslk';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

/* Frama */
@import 'frama/bootstrap4';
@import '../../commons/scss/frama/common';

#f-header {
  display: none; // framanav not needed
}

#home {
  background: #f4eee8 linear-gradient(to bottom, #f4eee8 42%, var(--f-g3)) !important;
}

.ombre {
  h1::after,
  h2::after {
    content: " ";
    border-bottom: 5px solidvar(--f-violet);
    display: block;
    max-width: 80px;
    margin: 0.5rem 0 1.25rem;
  }
}

#subfaq img {
  max-width: 100%;
}

.fc-primary { color: var(--f-primary); }
.fc-info { color: var(--f-primary); }
.fc-danger { color: var(--f-danger); }
.fc-warning { color: var(--f-warning); }
.fc-success { color: var(--f-success); }
.fc-soutenir { color: var(--f-o7); }

.credits {
  font-style: italic;
  color: var(--f-g7);
}